@media screen {
  .m-article-card {
    height: 530px;
  }
}

@media screen {
  .m-article-card__info-link {
    justify-content: flex-start;
  }
}

@media screen {
  @media only screen and (min-width: 48rem) {
    .m-article-card {
      height: 550px;
    }
  }
}
